{% extends "layout.html" %}
{% block content %}

    <div class='container'>

      <div class="col-md-offset-1 col-md-5 col-xs-12 col-sm-6">
        <p>A test user has been created on the Braintree with customer id {{custid}}</p>
      </div>

      <form class='col-md-5 col-xs-12 col-sm-6' action='/step2' method='post'>

        <div class="row">
          <div id='checkout'>

          </div>
        </div>

        <div class="row">
          <div class="input-group col-md-6">
            <input type='hidden' value='{{custid}}' name='custid'>
            <input type='submit' value='Store Payment Method in Vault' class='btn btn-danger btn-lg'>
          </div>
        </div>

      </form>
    </div>

    <script charset='utf-8'>
      braintree.setup("{{ token }}", 'dropin', {
        container: 'checkout'
      });
    </script>

{% endblock %}

